.about-h2 {
    padding: 1.5em;
    color: #2F4858;
}

.home-about-section {
    display: flex;
    justify-content: center;
}

.home-about-section-writing {
    max-width: 500px;
    margin-top: 9em;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-right: 2em;
}


.double-pic-align {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.double-pic-align p, h3{
    max-width: 400px;
}

@media  (max-width: 600px ){

    .double-pic-align {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100vw;
    }

    .home-about-section {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .home-about-section-writing {
        margin: 0;
    }
}
