.about-h2 {
    padding: 1.5em;
    color: #2F4858;
}

.home-about-section {
    display: flex;
    justify-content: center;
}

img {
    /* width: 400px; */
    max-height: 400px;
    margin-right: 2em;
}

.home-about-section-writing {
    max-width: 500px;
    margin-top: 9em;
}

.double-pic-align {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.double-pic-align p, h3{
    max-width: 400px;
}

