.hero-styles {
    text-align: left;
    color: black;
    position: relative;
    top: 7em;
}

.hero-span {
    color: #0388B3;
}

.hero-paragraph-background {
    background-color: gray;
    opacity: 40%;
}

.hero-paragraph {
    width: 400px;
    color: black;
    opacity: 100%;
}


.hero-button {
    margin-left: 6em;
}

.hero-h2 {
    max-width: 500px;
}