.hero-styles {
    text-align: left;
    color: white;
    position: relative;
    top: 7em;
    max-width: 600px;
    /* background-color: #2F4858; */
    border-radius: 5%;
}

.hero-h2 {
    max-width: 600px;
    
}

.hero-span {
    color: #0388B3;
}

.hero-paragraph {
    /* width: 400px; */
    color: rgb(23, 69, 100);
    opacity: 80%;
    text-align: left;
}
