* {
    box-sizing: border-box;
}

.link-color-fix a {
    color: inherit;
}

.hero-image {
    background-image: url("./NMstranded.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

