.serviceList-container {
    background-color:#2F4858 ;
    border-radius: 7em 0 0 7em ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.service-header {
    margin-left: 5em;
    position: relative;
    top: 95px;
    color: #ffffff;
}

.service-section {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-left: 35%;
    margin-top: 15%;
    color: #ffffff;
}

hr {
    display: flex;
    flex-direction: row;
    color: white;
    border-width: 0;
    background-color: white;
    height: 2px;
    max-width: 100%;
    margin-bottom: 2em;
}

button, a {
    text-decoration: none !important;
    max-width: 800px;
    background-color: inherit;
    border: none;
    color: #F9F9DC;
    font-weight: 600;
}

@media (max-width: 600px) {
    .service-header{
        top: 1em;
    }
}
